<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Unix Timestamp</title>
        <link rel='stylesheet' type='text/css' href='/main.css'>
    </head>
    <body id='grad1'>
        <table>
            <tr>
                <td class='name'>Unix Timestamp: </td>
                <td class='value'><%= unixdate %></td>
            </tr>
            <tr>
                <td class='name'>Normal Date: </td>
                <td class='value'><%= date %></td>
            </tr>
        </table>
        
    </body>
</html>